Checks: 'bugprone*,clang-analyzer*,cert*,cppcoreguidelines*,misc*,modernize*,performance*,portability*,readability*,
		-cppcoreguidelines-owning-memory,
		-cppcoreguidelines-pro-bounds-pointer-arithmetic,
		-*-use-nullptr,
		-*-pro-type-vararg,-cert-dcl50-cpp,
        google*,-google-runtime-references,
        hicpp*,-hicpp-signed-bitwise,
        llvm*,-llvm-header-guard,-llvmlibc*
        -*-braces-around-statements'
FormatStyle:     file
CheckOptions:
      - key:     readability-implicit-bool-conversion.AllowIntegerConditions
        value:   '1'
